
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    margin-top: 15px;
    width: 100vh;
}


.ToDoApp{
    width: 100vh;
    position: absolute;
    left: 25%;
}


h1{
    text-align: center;
}
ul{
    padding: 0px;
    margin-bottom: 0px;
}
ul li {
    border: 1px solid grey;
    list-style: none;
    padding: 5px;
}

input {
    padding-left: 10px;
    width: 100%;
}

.icon{
   margin-top: 3px;
   color:brown;
}

.tasklist{
    display: flex;
    justify-content: space-between;
}
