
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-image: url("https://images.pexels.com/photos/1226398/pexels-photo-1226398.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
    overflow: hidden;
    padding-top: 30px;
}


.ToDoApp{
    padding-left: 50px;
    padding-right: 50px;
    width: 100vh;
    position: absolute;
    left: 25%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.932), rgba(255, 255, 254, 0.803));
    border-radius:14px;
    border-style: solid;
     
     
    
}


h1{
    text-align: center;
    font-size: 95px;
    color: rgba(243, 233, 38, 0.723);
    font-family: "Dancing Script", cursive;
  
}
ul{
    padding: 0px;
    margin-bottom: 0px;
}
ul li {
    border: 1px solid grey;
    list-style: none;
    padding: 5px;
    background-color: beige;
}

input {
    padding-left: 10px;
    width: 100%;
    font-family: "Caveat", cursive;
    font-size: 30px;
}

.icon{
   margin-top: 3px;
   color: rgba(255, 255, 255, 0);
}

.tasklist{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-family: "Caveat", cursive;
}

.footer{
text-align: center;
font-size: 20px;
padding-bottom: 10px;
}

.icon:hover{
    color:brown;
}